body[data-bs-theme="dark"] {
    background-color: #181a1b;
    color: #f8f9fa;
}

body[data-bs-theme="dark"] .navbar {
    background-color: #222 !important;
}

body[data-bs-theme="dark"] .card {
    background-color: #23272b;
    color: #f8f9fa;
}

body[data-bs-theme="dark"] .table {
    color: #f8f9fa;
}

body[data-bs-theme="dark"] .btn-outline-light {
    border-color: #f8f9fa;
    color: #f8f9fa;
}

body[data-bs-theme="dark"] .alert-info {
    background-color: #222;
    color: #f8f9fa;
    border-color: #444;
}